body {
    width: 1500px;
    margin: 0 auto;


}

.container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 1500px;
    margin: 0 auto;
    background: url(./section-1\(header\).jpg)
}


a {
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -37px;
    width: 100%;
    height: 1px;
    background-color: #00ffcc;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.2s ease-in-out;
}

a:hover {
    color: #18CFAB;
}

a:hover::after {
    transform: scaleX(1);
}

.menu-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    height: 100px;
    background: rgba(94, 93, 88, 0.6);


}

.menu-item-1 {

    width: 119px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0 100px 0 0;
}

.menu-color {
    color: #18CFAB;
    cursor: pointer;
}

.menu-item-2 {

    margin: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

}


.menu-item-3 {

    margin: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

}

.menu-item-4 {
    margin: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menu-item-5 {
    margin: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menu-item-6 {
    margin: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menu-item-7 {

    margin: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menu-item-8 {
    margin: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menu-item-9 {
    margin: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 20px;
    fill: rgba(255, 255, 255, 0.6);


}

.icon:hover {
    fill: #18CFAB;

}



.title {
    margin: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-item-1 {
    letter-spacing: -1px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 10px;
    color: #FFFFFF;

}

.title-color {
    color: #18CFAB;
}

.title-item-1 .title-color::before {
    content: "\00a0";
    letter-spacing: -20px;
}

.title-item-2 {
    height: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title-item-3 {
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 1px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffffd1;
    letter-spacing: 6px;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit-item-1 {
    cursor: pointer;
    margin-right: 15px;
    width: 169px;
    height: 63px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background: #18CFAB;
    color: #FFFFFF;
    border-radius: 10px;
}

.submit-item-2 {
    cursor: pointer;
    margin-left: 15px;
    width: 169px;
    height: 63px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background-color: #00CBF6;
    color: #FFFFFF;
    border-radius: 10px;
}

.submit-item-1:active {
    background-color: #1aa88c;
}

.submit-item-2:active {
    background: #119ab6;
}

.subject {
    display: flex;
    margin-top: 10px;

}

.icon-item-1 {
    width: 375px;
    height: 250px;
    background: #1C2A33;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-around;
}


.icon-item-2 {
    width: 375px;
    height: 250px;
    background: #18CFAB;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-around;
}

.icon-item-3 {
    width: 375px;
    height: 250px;
    background: #1C2A33;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-around;
}

.icon-item-4 {
    width: 375px;
    height: 250px;
    background: #18CFAB;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-around;
}

.icon-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.icon-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.short-title {
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}

.line-1 {
    position: relative;
    width: 100px;
    top: 5px;
    height: 1px;
    right: 15px;
    background: #18CFAB;
    border: #18CFAB;
}

.line-2 {
    top: 3px;
    position: relative;
    width: 100px;
    height: 1px;
    left: 15px;
    background: #18CFAB;
    margin-bottom: 85px;
    border: #18CFAB;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    cursor: pointer;
    width: 170px;
    text-align: center;
    padding: 20px;
    background-color: #EDEFEF;
    border: 1px solid #ccc;
    position: relative;
}

.tab-content {

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-top: none;
    box-sizing: border-box;
}

.tab-content p {
    cursor: pointer;
    bottom: 125px;
    left: 173px;
    position: relative
}

.image-tab {
    margin-top: 10px;
    width: 170px;
}


.tab:hover {
    border: 1.5px solid #18CFAB;
}


.tab input[type="radio"] {
    display: none;
}


.tab input[type="radio"]:checked+label+.tab-content {
    display: block;

}

.tab input[type="radio"]:checked+label:after {
    content: "▼";
    font-size: 24px;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    color: #18CFAB;
    z-index: 3;
}


.tab input:checked+label {
    cursor: pointer;
    background-color: #18CFAB;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
}






.image-container {
    position: relative;
}

.image-container img {
    margin-top: 180px;
    display: block;
    width: 100%;
}


.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    text-align: center;
}

.title-1 {
    margin: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    align-items: center;
    text-transform: uppercase;
    color: #18CFAB;
    white-space: nowrap;
}

.title-2 {
    margin: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #D8D8D8;
    white-space: nowrap;
}

.button {
    padding: 15px 30px;
    background-color: #18CFAB;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: #18CFAB;
}

.button:active {
    background-color: #179178;
}








.navigation {
    background: #E9EDEF;
}

.nav {
    max-width: 1140px;
    margin: 96px auto;
    background: #E9EDEF;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-click {
    padding: 6px 35px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
}

button.active {
    background-color: #18CFAB;
    color: #fff;
}

.buttons button:not(.load-more):hover {
    border: 1px solid #18CFAB;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;

}



.load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 8px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    width: 168px;
    height: 63px;
    background: #18CFAB;
}

.load-more.hidden {
    display: none;
}

.photo-item {
    position: relative;
    overflow: hidden;
    width: 285px;
    height: 206px;
}

.photo-item img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    border-top: 3px solid #18CFAB;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E9EDEF;
    opacity: 0;
    transition: opacity ease;
}

.photo-item:hover .overlay {
    opacity: 1;
}

.photo-item:hover img {
    opacity: 1;
}

.overlay:before {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88px;
    height: 43px;
    background-image: url('./load-more/icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}


.overlay p {
    position: absolute;
    width: 100%;
    text-align: center;
}

.overlay .green-text {
    top: 50%;
    color: #18CFAB;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
}

.overlay .white-text {
    top: 60%;
    color: #8A8A8A;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;

}



.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1140px;
    margin: 96px auto;
}

.news-item {
    width: 23%;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-date {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 68px;
    background: #203E38;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    line-height: 29px;
    font-size: 21px;
    flex-direction: column-reverse;
    display: flex;
}

.news-date:hover {
    background-color: #18CFAB;
}

.news-title:hover {
    color: #18CFAB;
}

.news-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.news-meta {
    font-size: 16px;
    color: #999;
}

.short-title span {
    color: #FFFFFF;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}


.carousel-container {
    background-image: url('./What people/backgrounde.png');
    background-size: cover;
    background-position: center;
}


.description::before {
    content: "\201C";
    display: block;
    position: relative;
    font-size: 7em;
    font-weight: bold;
    color: #18CFAB;
}




.carousel {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    height: 100%;
    margin: 0 24px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel img {
    object-fit: cover;
    border-radius: 50%;
    background: #1fdab573;
    mix-blend-mode: normal;
    padding: 6px;
    cursor: pointer;
}

.carousel-controls {

    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}


.arrow {
    bottom: 62px;
    position: relative;


    font-size: 2rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #BBBBBB;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
}

.arrow:hover {
    background: #18CFAB;
}

.main-image {
    height: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    background: #1fdab573;
    mix-blend-mode: normal;
    padding: 6px;
}


.carousel-wrapper {
    margin: auto;
}


.person-info {
    top: 30%;
    left: 50%;
}


.description {

    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 70px;
    color: #BBBBBB;
}


.name-info {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #18CFAB;
}



.profession {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 60px;
    color: #BBBBBB;
}


#container {

    margin: auto;

    width: 970px;

}

.element-item {
    padding: 2px;
    width: 280px
}

h1 {
    text-align: center;
    margin: 0 0 50px
}

.load-more-2 {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 8px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    width: 168px;
    height: 63px;
    background: #18CFAB;
}




#loader-2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.spinner-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




.footer {
    background: #22353F;
    height: 120px;
    color: #AEAEAE;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    color: #18CFAB;
    padding: 0 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.preloader:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-top-color: transparent;
    animation: spin 2s linear infinite;

}



.loading {
    overflow: hidden;
    pointer-events: none;
}

.loading::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
}

.loading .preloader {
    opacity: 0.5;
}